  server:
    port: 8081

  spring:
    cloud:
      stream:
        bindings:
          processarPedidoFechado-in-0:
            destination: petfriends.pedidos.fechados
            group: almoxarifado-group